{% extends 'base.html' %}
{% load staticfiles humanize bertocar_tags %}

{% block extra_meta %}
<!-- for Google -->
<meta name="description" content=" Veículo {{ car.model }} a {{ car.price }}€ ou desde {{ car.credit }}/mês! Contacte-nos em bertocar.pt para mais informações" />
<meta name="keywords" content="{{ car.model }}, {{ car.fuel }}, {{ car.type }}" />

<meta name="author" content="Bertocar Automóveis" />
<meta name="copyright" content="" />
<meta name="application-name" content="" />

<!-- for Facebook -->
<meta property="og:title" content="{{ car.model }}" />
<meta property="og:type" content="article" />
<meta property="og:image" content="{{ car.get_all_imgs.0 }}" />
<meta property="og:url" content="" />
<meta property="og:description" content="Veículo {{ car.model }} a {{ car.price }}€ ou desde {{ car.credit }}/mês! Contacte-nos em bertocar.pt para mais informações" />

<!-- for Twitter -->
<meta name="twitter:card" content="summary" />
<meta name="twitter:title" content="" />
<meta name="twitter:description" content="" />
<meta name="twitter:image" content="" />
{% endblock %}

{% block title %}{{ car.model }} - Bertocar{% endblock %}

{% block body_content %}
    <script>
        mixpanel.track("Clicked car detail",
                {   "car": {{ car.model }},
                    "make": {{ car.make }},
                    "price": {{ car.price }},
                    "year": {{ car.first_record }}
                }
        );
    </script>

    <div class="block-title">
        <div class="block-title__inner section-bg section-bg_second">
            <div class="bg-inner">
                <h1 class="ui-title-page">car details</h1>
                <div class="decor-1 center-block"></div>
                <ol class="breadcrumb">
                    <li><a href="#">HOME</a></li>
                    <li class="active">car details</li>
                </ol>
            </div><!-- end bg-inner -->
        </div><!-- end block-title__inner -->
    </div><!-- end block-title -->

    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <main class="main-content">
                    <article class="car-details">
                        <div class="car-details__wrap-title clearfix">
                            <h2 class="car-details__title">{{ car.model }}</h2>
                            <div class="car-details__wrap-price"><span class="car-details__price"><span class="car-details__price-inner">{{ car.price|intcomma }}€</span></span></div>
                        </div>

                        <div id="slider-product" class="flexslider slider-product">
                            <ul class="slides">
                                {% for img_url in car.get_all_imgs %}
                                    <li>
                                        {#                                        <a href="{{ img_url }}" >#}
                                        <img class="img-responsive car" src="{{ img_url }}" height="430" width="770" alt="Foto">
                                        {#                                        </a>#}
                                    </li>
                                {% endfor %}

                            </ul>
                        </div>
                        <div id="carousel-product" class="flexslider carousel-product">
                            <ul class="slides">
                                {% for img_url in car.get_all_imgs %}
                                    <li>
                                        <img src="{{ img_url }}" height="75" width="95" alt="foto">
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>

                        <!-- Nav tabs -->
                        <div class="wrap-nav-tabs">
                            <ul class="nav nav-tabs">
                                <li class="active"><a href="#tab1" data-toggle="tab">características</a></li>

                                <li><a href="#tab3" data-toggle="tab">informação de crédito</a></li>
                            </ul>
                        </div>

                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div class="tab-pane active" id="tab1">
                                <h3 class="ui-title-inner">Equipamento</h3>
                                <div class="decor-1"></div>
                            <p>{{ car.description|capsentence }}</p>
                                {% for group in all_features.keys %}
                                    <div class="row">
                                    <h4> {{ group }}</h4>
                                    {% for features in all_features|get_item:group %}
                                        <div class="col-sm-6 col-md-4"><span>{{ features }}</span></div>
                                    {% endfor %}
                                    </div>
                                    <hr>
                                {% endfor %}
                            </div>

                            <div class="tab-pane" id="tab3">
                                {% if car.credit %}
                                    <h3 class="ui-title-inner">Informação de crédito</h3>
                                    <div class="decor-1"></div>
                                    <p>Crédito a partir de {{ car.credit }}€ por mês.</p>
                                    <p>Contacte-nos para mais informações!</p>
                                    </div>
                                {% else %}
                                    {#                                     <h3 class="ui-title-inner">Informação de crédito</h3>#}
                                    <div class="decor-1"></div>
                                    <p>A informacao ainda nao esta disponivel. Contacte-nos para saber as condicoes!</p>

                                {% endif %}
                        </div>

                        {#                        <div class="panel-group accordion" id="accordion-1">#}
                        {#                            <div class="panel panel-default">#}
                        {#                                <div class="panel-heading">#}
                        {#                                    <a class="btn-collapse" data-toggle="collapse" data-parent="#accordion-1" href="#collapse-1"><i class="icon"></i></a>#}
                        {#                                    <h3 class="panel-title">exterior & interior</h3>#}
                        {#                                </div>#}
                        {#                                <div id="collapse-1" class="panel-collapse collapse in">#}
                        {#                                    <div class="panel-body">#}
                        {#                                        <p>Perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperia eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>#}
                        {#                                    </div>#}
                        {#                                </div>#}
                        {#                            </div><!-- end panel -->#}
                        {##}
                        {#                            <div class="panel">#}
                        {#                                <div class="panel-heading">#}
                        {#                                    <a class="btn-collapse collapsed" data-toggle="collapse" data-parent="#accordion-1" href="#collapse-2"><i class="icon"></i></a>#}
                        {#                                    <h3 class="panel-title">safety features</h3>#}
                        {#                                </div>#}
                        {#                                <div id="collapse-2" class="panel-collapse collapse">#}
                        {#                                    <div class="panel-body">#}
                        {#                                        <p>Perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperia eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>#}
                        {#                                    </div>#}
                        {#                                </div>#}
                        {#                            </div><!-- end panel -->#}
                        {##}
                        {#                            <div class="panel">#}
                        {#                                <div class="panel-heading">#}
                        {#                                    <a class="btn-collapse collapsed" data-toggle="collapse" data-parent="#accordion-1" href="#collapse-3"><i class="icon"></i></a>#}
                        {#                                    <h3 class="panel-title">Entertainment</h3>#}
                        {#                                </div>#}
                        {#                                <div id="collapse-3" class="panel-collapse collapse">#}
                        {#                                    <div class="panel-body">#}
                        {#                                        <p>Perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperia eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>#}
                        {#                                    </div>#}
                        {#                                </div>#}
                        {#                            </div><!-- end panel -->#}
                        {#                        </div><!-- end accordion -->#}
                    </article>


                    <div class="wrap-section-border">
                        <section class="section_letter section-bg section-bg_primary">
                            <div class="letter bg-inner">
                                <div class="letter__inner">
                                    <h2 class="letter__title">Não encontrou exatamente o que procura?</h2>
                                    <div class="letter__info">Contacte que nós encontramos e trazemos até si ao melhor preço do mercado!</div>
                                </div>
                                <div class="letter__btn wrap-social-block wrap-social-block_mod-a">
                                    <a class="social-block social-block_mod-a btn-effect" href="#contactos-footer">
                                        <div class="social-block__inner">ver contactos</div>
                                    </a>
                                </div>
                            </div><!-- end bg-inner -->
                            <div class="border-section-bottom border-section-bottom_mod-a"></div>
                        </section><!-- end section_mod-b -->
                    </div><!-- end wrap-section-border -->

                </main><!-- end main-content -->
            </div><!-- end col -->

            <div class="col-md-4">
                <aside class="sidebar">
                    {% include 'autocms/fragments/car_details_sidebar.html' %}

                </aside>
            </div><!-- end col -->
        </div><!-- end row -->
    </div><!-- end container -->


    {% block top_js %}
        <!-- SCRIPTS -->
        <script src="{%  static "plugins/prettyphoto/js/jquery.prettyPhoto.js" %}"></script>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
        <script src="{% static "plugins/nouislider/jquery.nouislider.all.min.js" %}"></script>
        <script src="{% static "plugins/flexslider/jquery.flexslider.js" %}"></script>
    {% endblock %}

{% endblock %}