{% extends 'autocms/ui/layouts/base.html' %}
{% load staticfiles humanize %}
{% block title %}Bertocar{% endblock %}

{% block body_content %}

{#    HOMEPAGE SLIDER#}
    <div id="sliderpro1" class="slider-pro main-slider">
        {% include 'autocms/fragments/homepage_slider.html' %}
    </div>



    {# CARROS MAIS RECENTES #}
    <section class="section_default" id="section-recent-cars">
        {% include 'autocms/fragments/most_recent_cars.html' %}
    </section>




    <div class="wrap-section-border wow bounceInUp" data-wow-duration="2s">
        <section class="section_mod-b section-bg section-bg_primary">
            <div class="bg-inner border-section-top border-section-top_mod-a">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12">
                            <h2 class="ui-title-block ui-title-block_mod-a text-center">O que oferecemos</h2>
{#                            <div class="ui-subtitle-block_mod-a">we are offering vehicle services 24/7</div>#}
                            <div class="slider-services owl-carousel owl-theme owl-theme_mod-a enable-owl-carousel"
                                 data-min480="2"
                                 data-min768="3"
                                 data-min992="4"
                                 data-min1200="4"
                                 data-pagination="true"
                                 data-navigation="false"
                                 data-auto-play="4000"
                                 data-stop-on-hover="true">
                                {% include 'autocms/fragments/services.html' %}
                            </div>
                            <!-- end slider-services -->
                        </div>
                        <!-- end col -->
                    </div>
                    <!-- end row -->
                    <div class="border-section-bottom"></div>
                </div>
                <!-- end container -->
            </div>
            <!-- end bg-inner -->
        </section>
        <!-- end section_mod-b -->
    </div>
    <!-- end wrap-section-border -->

{#    <div class="wrap-section-border wow bounceInUp" data-wow-duration="2s">#}
{#        <section class="section_mod-c section-bg section-bg_second">#}
{#            <div class="bg-inner border-section-top border-section-top_mod-b">#}
{#                <div class="container">#}
{#                    <div class="row">#}
{#                        <div class="col-xs-12">#}
{#                            <h2 class="ui-title-block ui-title-block_mod-a text-center">Real Facts</h2>#}
{#                            <div class="ui-subtitle-block_mod-a">we have some superb facts here</div>#}
{#                            <ul class="list-progress list-unstyled">#}
{#                                <li class="list-progress__item"> <i class="icon flaticon-transport391"></i>#}
{#                                    <div class="list-progress__inner"> <span class="chart" data-percent="900"><span class="percent"></span>+</span> <span class="list-progress__name">COUNTRIES REACHED</span> </div>#}
{#                                </li>#}
{#                                <li class="list-progress__item"> <i class="icon flaticon-automobile8"></i>#}
{#                                    <div class="list-progress__inner"> <span class="chart" data-percent="10000"><span class="percent"></span>+</span> <span class="list-progress__name">PASSED GRADUATES</span> </div>#}
{#                                </li>#}
{#                                <li class="list-progress__item"> <i class="icon flaticon-bus6"></i>#}
{#                                    <div class="list-progress__inner"> <span class="chart" data-percent="120"><span class="percent"></span>+</span> <span class="list-progress__name">QUALIFIED STAFF</span> </div>#}
{#                                </li>#}
{#                            </ul>#}
{#                            <!-- end list-progress -->#}
{#                        </div>#}
{#                        <!-- end col -->#}
{#                    </div>#}
{#                    <!-- end row -->#}
{#                    <div class="border-section-bottom"></div>#}
{#                </div>#}
{#                <!-- end container -->#}
{#            </div>#}
{#            <!-- end bg-inner -->#}
{#        </section>#}
{#        <!-- end section_mod-b -->#}
{#    </div>#}
    <!-- end wrap-section-border -->
{##}
{#    <div class="section_default section_mod-e section-bg-2 wow bounceInRight" data-wow-duration="2s">#}
{#        <section class="section_mod-d">#}
{#            <div class="container">#}
{#                <div class="row">#}
{#                    <div class="col-xs-12">#}
{#                        <h2 class="ui-title-block">Sobre nos</h2>#}
{#                        <div class="ui-subtitle-block_mod-b">Sed euismod ullamcorper tortor suspendisse potena</div>#}
{#                    </div>#}
{#                    <!-- end col -->#}
{#                </div>#}
{#                <!-- end row -->#}
{#                <div class="row">#}
{#                    <div class="col-md-5">#}
{#                        <h3 class="ui-title-inner"><i class="decor-3 fa fa-caret-right"></i>O nosso bem sucedido percurso</h3>#}
{#                        <div class="decor-1 decor-1_mod-c"></div>#}
{#                        <div class="ui-description">#}
{#                            <p>A BertoCar e uma empresa recente, mas rapidamente ganhou a confianca dos seus clientes. .</p>#}
{#                        </div>#}
{#                        <p>Integer tortor bibendum est faucibus gravida aliquam nul lectus lacinia eget pulvinar mattis inl risus. Quisque sagittis lorem acdua er pharetral interdum quisque convallis nulla id ipsum vamus aliquam arcu arcu.</p>#}
{#                        <p>Etiam imperdiet aliquam eriat volutpat mauris consecteta. Aliquam enisem pretium vitae posuere ac mats vitae arcu.</p>#}
{#                        <a class="link" href="javascript:void(0);">we have largest vehicles stock</a>#}
{#                        <div class="decor-1"></div>#}
{#                        <a class="link" href="javascript:void(0);">we got worldwide locations</a>#}
{#                        <div class="decor-1"></div>#}
{#                        <a class="link" href="javascript:void(0);">we deal in all kinds of brands & vehicles</a> </div>#}
{#                    <!-- end col -->#}
{#                </div>#}
{#                <!-- end row -->#}
{#            </div>#}
{#            <!-- end container -->#}
{#        </section>#}
{#        <!-- end section_mod-d -->#}
{##}
{#        <section class="section_brands text-center wow bounceInUp" data-wow-duration="2s">#}
{#            <div class="container">#}
{#                <div class="row">#}
{#                    <div class="col-xs-12">#}
{#                        <div class="decor-2"><i class="icon fa fa-caret-down"></i></div>#}
{#                        <h2 class="ui-title-inner ui-title-inner_mod-a">OUR BRANDS</h2>#}
{#                        <div class="decor-1 decor-1_mod-b"></div>#}
{#                        <ul class="list-brands list-inline">#}
{#                            <li class="list-brands__item">#}
{#                                <div class="list-brands__inner"><img class="list-brands__img img-responsive" src="{% static "img/brands/brand-8.jpg" %}" height="57" width="250" alt="Brand"></div>#}
{#                            </li>#}
{#                            <li class="list-brands__item">#}
{#                                <div class="list-brands__inner"><img class="list-brands__img img-responsive" src="{% static "img/brands/brand-4.jpg" %}" height="57" width="250" alt="Brand"></div>#}
{#                            </li>#}
{#                            <li class="list-brands__item">#}
{#                                <div class="list-brands__inner"><img class="list-brands__img img-responsive" src="{% static "img/brands/brand-7.jpg" %}" height="57" width="250" alt="Brand"></div>#}
{#                            </li>#}
{#                            <li class="list-brands__item">#}
{#                                <div class="list-brands__inner"><img class="list-brands__img img-responsive" src="{% static "img/brands/brand-1.jpg" %}" height="57" width="250" alt="Brand"></div>#}
{#                            </li>#}
{#                            <li class="list-brands__item">#}
{#                                <div class="list-brands__inner"><img class="list-brands__img img-responsive" src="{% static "img/brands/brand-5.jpg" %}" height="57" width="250" alt="Brand"></div>#}
{#                            </li>#}
{#                        </ul>#}
{#                    </div>#}
{#                    <!-- end col -->#}
{#                </div>#}
{#                <!-- end row -->#}
{#            </div>#}
{#            <!-- end container -->#}
{#        </section>#}
{#        <!-- end section-area -->#}
{#    </div>#}
{#    <!-- end section_default -->#}

{#    <div class="wrap-section-border wow bounceInUp" data-wow-duration="2s">#}
{#        <section class="section_mod-e section-bg section-bg_second">#}
{#            <div class="bg-inner border-section-top border-section-top_mod-b">#}
{#                <div class="container">#}
{#                    <div class="row">#}
{#                        <div class="col-xs-12">#}
{#                            <h2 class="ui-title-block ui-title-block_mod-a text-center">Types Of Vehicles</h2>#}
{#                            <div class="ui-subtitle-block_mod-a">that we are currently dealing</div>#}
{#                            <ul class="list-type">#}
{#                                <li class="list-type__item"> <a class="list-type__link" href="javascript:void(0);">#}
{#                                    <div class="list-type__inner"> <i class="icon auto12"></i>#}
{#                                        <div class="decor-1 center-block"></div>#}
{#                                        <div class="list-type__name">motorcycle</div>#}
{#                                        <div class="list-type__info">110 Offers</div>#}
{#                                    </div>#}
{#                                </a> </li>#}
{#                                <li class="list-type__item"> <a class="list-type__link" href="javascript:void(0);">#}
{#                                    <div class="list-type__inner"> <i class="icon auto15"></i>#}
{#                                        <div class="decor-1 center-block"></div>#}
{#                                        <div class="list-type__name">LUXURY CARS</div>#}
{#                                        <div class="list-type__info">110 Offers</div>#}
{#                                    </div>#}
{#                                </a> </li>#}
{#                                <li class="list-type__item"> <a class="list-type__link" href="javascript:void(0);">#}
{#                                    <div class="list-type__inner"> <i class="icon auto13"></i>#}
{#                                        <div class="decor-1 center-block"></div>#}
{#                                        <div class="list-type__name">SPORTS</div>#}
{#                                        <div class="list-type__info">110 Offers</div>#}
{#                                    </div>#}
{#                                </a> </li>#}
{#                                <li class="list-type__item"> <a class="list-type__link" href="javascript:void(0);">#}
{#                                    <div class="list-type__inner"> <i class="icon auto13"></i>#}
{#                                        <div class="decor-1 center-block"></div>#}
{#                                        <div class="list-type__name">SUVS</div>#}
{#                                        <div class="list-type__info">110 Offers</div>#}
{#                                    </div>#}
{#                                </a> </li>#}
{#                                <li class="list-type__item"> <a class="list-type__link" href="javascript:void(0);">#}
{#                                    <div class="list-type__inner"> <i class="icon auto14"></i>#}
{#                                        <div class="decor-1 center-block"></div>#}
{#                                        <div class="list-type__name">truck</div>#}
{#                                        <div class="list-type__info">110 Offers</div>#}
{#                                    </div>#}
{#                                </a> </li>#}
{#                                <li class="list-type__item"> <a class="list-type__link" href="javascript:void(0);">#}
{#                                    <div class="list-type__inner"> <i class="icon auto16"></i>#}
{#                                        <div class="decor-1 center-block"></div>#}
{#                                        <div class="list-type__name">VANS & TRUCKS</div>#}
{#                                        <div class="list-type__info">110 Offers</div>#}
{#                                    </div>#}
{#                                </a> </li>#}
{#                            </ul>#}
{#                        </div>#}
{#                        <!-- end col -->#}
{#                    </div>#}
{#                    <!-- end row -->#}
{#                    <div class="border-section-bottom"></div>#}
{#                </div>#}
{#                <!-- end container -->#}
{#            </div>#}
{#            <!-- end bg-inner -->#}
{#        </section>#}
{#        <!-- end section_mod-b -->#}
{#    </div>#}
{#    <!-- end wrap-section-border -->#}

{#    <div class="wrap-section-border wow bounceInUp" data-wow-duration="2s">#}
{#        <section class="section_mod-g section-bg section-bg_primary">#}
{#            <div class="bg-inner border-section-top border-section-top_mod-a">#}
{#                <div class="container">#}
{#                    <div class="row">#}
{#                        <div class="col-xs-12">#}
{#                            <h2 class="ui-title-block ui-title-block_mod-a text-center">O que os clientes dizem</h2>#}
                            {#                            <div class="ui-subtitle-block_mod-a">Lorem ipsum dolor sit ametelit sed do</div>#}
{#                            <div class="slider-reviews owl-carousel owl-theme owl-theme_mod-a enable-owl-carousel"#}
{#                                 data-min480="1"#}
{#                                 data-min768="2"#}
{#                                 data-min992="3"#}
{#                                 data-min1200="3"#}
{#                                 data-pagination="true"#}
{#                                 data-navigation="false"#}
{#                                 data-auto-play="400000"#}
{#                                 data-stop-on-hover="true">#}
{#                                <div class="reviews">#}
{#                                    <h3 class="reviews__title">BEST CARS!</h3>#}
{#                                    <div class="decor-1"></div>#}
{#                                    <div class="reviews__text">#}
{#                                        <p>Wliquam sit amet urna sed vel nullam semper aibe vestibulum fringilla orem ipsum dolor sit amet con sectetur adipisicing elit sed don eiusmod tempor incididunt ut labore et dolore.</p>#}
{#                                    </div>#}
{#                                    <div class="reviews__img"><img class="img-responsive" src="{% static "img/avatar_reviews/1.jpg" %}" height="55" width="55" alt="avatar"></div>#}
{#                                    <div class="reviews__inner">#}
{#                                        <div class="reviews__name">kyle joseph</div>#}
{#                                        <div class="reviews__category">CUSTOMER</div>#}
{#                                    </div>#}
{#                                </div>#}
{#                                <!-- end reviews -->#}
{##}
{#                                <div class="reviews">#}
{#                                    <h3 class="reviews__title">affordable deals!!!</h3>#}
{#                                    <div class="decor-1"></div>#}
{#                                    <div class="reviews__text">#}
{#                                        <p>Wliquam sit amet urna sed vel nullam semper aibe vestibulum fringilla orem ipsum dolor sit amet con sectetur adipisicing elit sed don eiusmod tempor incididunt ut labore et dolore.</p>#}
{#                                    </div>#}
{#                                    <div class="reviews__img"><img class="img-responsive" src="{% static "img/avatar_reviews/2.jpg" %}" height="55" width="55" alt="avatar"></div>#}
{#                                    <div class="reviews__inner">#}
{#                                        <div class="reviews__name">william henry</div>#}
{#                                        <div class="reviews__category">auto Dealer</div>#}
{#                                    </div>#}
{#                                </div>#}
{#                                <!-- end reviews -->#}
{##}
{#                                <div class="reviews">#}
{#                                    <h3 class="reviews__title">very much satisfied.</h3>#}
{#                                    <div class="decor-1"></div>#}
{#                                    <div class="reviews__text">#}
{#                                        <p>Wliquam sit amet urna sed vel nullam semper aibe vestibulum fringilla orem ipsum dolor sit amet con sectetur adipisicing elit sed don eiusmod tempor incididunt ut labore et dolore.</p>#}
{#                                    </div>#}
{#                                    <div class="reviews__img"><img class="img-responsive" src="{% static "img/avatar_reviews/3.jpg" %}" height="55" width="55" alt="avatar"></div>#}
{#                                    <div class="reviews__inner">#}
{#                                        <div class="reviews__name">alex heesman</div>#}
{#                                        <div class="reviews__category">CUSTOMER</div>#}
{#                                    </div>#}
{#                                </div>#}
{#                                <!-- end reviews -->#}
{##}
{#                                <div class="reviews">#}
{#                                    <h3 class="reviews__title">BEST CARS!</h3>#}
{#                                    <div class="decor-1"></div>#}
{#                                    <div class="reviews__text">#}
{#                                        <p>Wliquam sit amet urna sed vel nullam semper aibe vestibulum fringilla orem ipsum dolor sit amet con sectetur adipisicing elit sed don eiusmod tempor incididunt ut labore et dolore.</p>#}
{#                                    </div>#}
{#                                    <div class="reviews__img"><img class="img-responsive" src="{% static "avatar_reviewjs/s/1.jpg" %}" height="55" width="55" alt="avatar"></div>#}
{#                                    <div class="reviews__inner">#}
{#                                        <div class="reviews__name">kyle joseph</div>#}
{#                                        <div class="reviews__category">CUSTOMER</div>#}
{#                                    </div>#}
{#                                </div>#}
{#                                <!-- end reviews -->#}
{##}
{#                            </div>#}
{#                            <!-- end slider-services -->#}
{#                        </div>#}
{#                        <!-- end col -->#}
{#                    </div>#}
{#                    <!-- end row -->#}
{#                    <div class="border-section-bottom"></div>#}
{#                </div>#}
{#                <!-- end container -->#}
{#            </div>#}
{#            <!-- end bg-inner -->#}
{#        </section>#}
{#        <!-- end section_mod-b -->#}
{#    </div>#}
{#    <!-- end wrap-section-border -->#}

{#    <section class="section_map section-bg-2 wow bounceInUp" data-wow-duration="2s">#}
{#        <div class="container">#}
{#            <div class="row">#}
{#                <div class="col-xs-12">#}
{#                    <h2 class="ui-title-block">Contact us</h2>#}
{#                    <div class="ui-subtitle-block_mod-b">Sed euismod ullamcorper tortsed ipsum dui</div>#}
{#                </div>#}
{#                <!-- end col -->#}
{#            </div>#}
{#            <!-- end row -->#}
{#        </div>#}
{#        <!-- end container -->#}
{#        <div class="map"><img class="img-responsive" src="{% static "img/map.jpg" %}" height="520" width="1600" alt="map"></div>#}
{#        <div class="container text-center">#}
{#            <div class="row">#}
{#                <div class="col-xs-12">#}
{#                    <div class="decor-2"><i class="icon fa fa-caret-down"></i></div>#}
{#                    <h2 class="ui-title-inner">feel free to send us a message <br>#}
{#                        or ask for a FREE quote</h2>#}
{#                    <div class="decor-1 center-block"></div>#}
{#                </div>#}
{#                <!-- end col -->#}
{#            </div>#}
{#            <!-- end row -->#}
{#            <div class="row">#}
{#                <div class="col-sm-10 col-sm-offset-1">#}
{#                    <form class="form-contact" action="post">#}
{#                        <div class="row">#}
{#                            <div class="col-sm-6">#}
{#                                <input class="form-control" type="text" placeholder="First Name" required>#}
{#                            </div>#}
{#                            <!-- end col -->#}
{#                            <div class="col-sm-6">#}
{#                                <input class="form-control" type="text" placeholder="Last Name" required>#}
{#                            </div>#}
{#                            <!-- end col -->#}
{#                        </div>#}
{#                        <!-- end row -->#}
{#                        <div class="row">#}
{#                            <div class="col-sm-6">#}
{#                                <input class="form-control" type="text" placeholder="Phone No." required>#}
{#                            </div>#}
{#                            <!-- end col -->#}
{#                            <div class="col-sm-6">#}
{#                                <input class="form-control" type="text" placeholder="Subject" required>#}
{#                            </div>#}
{#                            <!-- end col -->#}
{#                        </div>#}
{#                        <!-- end row -->#}
{#                        <div class="row">#}
{#                            <div class="col-xs-12">#}
{#                                <textarea class="form-control" placeholder="Message Details ..." required rows="7"></textarea>#}
{#                                <div class="btn">#}
{#                                    <div class="wrap__btn-skew-r">#}
{#                                        <button class="btn-skew-r btn-effect "><span class="btn-skew-r__inner">send message</span></button>#}
{#                                    </div>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                        <!-- end row -->#}
{#                    </form>#}
{#                </div>#}
{#            </div>#}
{#            <!-- end row -->#}
{#        </div>#}
{#        <!-- end container -->#}
{#    </section>#}
{#    <!-- end section_default -->#}

    {% block top_js %}

        <script src="{% static "plugins/rendro-easy-pie-chart/dist/jquery.easypiechart.min.js" %}"></script>

        <!--HOME SLIDER-->
        <script  src="{% static "plugins/sliderpro/js/jquery.sliderPro.min.js" %}"></script>

    {% endblock %}
{% endblock %}
