{% extends 'base.html' %}
{% load staticfiles %}
{% block title %} Bertocar - Lista de Veículos{% endblock %}

{% block body_content %}
    <script>
        mixpanel.track("Viewing car list");
    </script>

    <div class="block-title">
        <div class="block-title__inner section-bg section-bg_second">
            <div class="bg-inner">
                <h1 class="ui-title-page">Lista de veículos</h1>
                <div class="decor-1 center-block"></div>
                <ol class="breadcrumb">
                    <li><a href="javascript:void(0);">HOME</a></li>
                    <li class="active">veículos</li>
                </ol>
            </div><!-- end bg-inner -->
        </div><!-- end block-title__inner -->
    </div><!-- end block-title -->

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-9">
                <main class="main-content">
                    <div class="sorting">
                        <div class="sorting__inner">
{#                            <div class="sorting__item">#}
{#                                <span class="sorting__title">Items por página</span>#}
{#                                <div  class="select jelect">#}
{#                                    <input id="page" name="page" value="0" data-text="imagemin" type="text" class="jelect-input">#}
{#                                    <div tabindex="0" role="button" class="jelect-current">10</div>#}
{#                                    <ul class="jelect-options">#}
{#                                        <li  class="jelect-option jelect-option_state_active">10</li>#}
{#                                        <li  class="jelect-option">20</li>#}
{#                                        <li  class="jelect-option">30</li>#}
{#                                    </ul>#}
{#                                </div>#}
{#                            </div>#}
                            <div class="sorting__item">
                                <span class="sorting__title">Ordenar por</span>
                                <div  class="select jelect">
                                    <input id="sort" name="sort" data-text="imagemin" type="text" class="jelect-input">
                                    <div tabindex="0" role="button" class="jelect-current">Últimos adicionados</div>
                                    <ul class="jelect-options">
                                        <li  class="jelect-option jelect-option_state_active" value="0">Últimos adicionados</li>
                                        <li  class="jelect-option" value="1" data-text="baratos" >Mais baratos</li>
                                        <li  class="jelect-option" value="2" >Mais caros</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div><!-- end sorting -->
                    <div id="list-all-cars">
                        {% include 'autocms/fragments/car-listing-item.html' %}
                    </div>
{#                    <ul class="pagination">#}
                        {#                        <span class="step-links">#}
{#                        {% if page_obj.has_previous %}#}
{#                            <li><a href="?page={{ page_obj.previous_page_number }}">previous</a></li>#}
{#                        {% endif %}#}
{##}
{#                        {% if page_obj.has_next %}#}
{#                            <li><a href="?page={{ page_obj.next_page_number }}">next</a></li>#}
{#                        {% endif %}#}
{#                        <span class="current">#}
{#                                Pagina {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.#}
{#                            </span>#}
                        {#                        </span>#}
{#                    </ul>#}

                </main><!-- end main-content -->
            </div><!-- end col -->


            <div class="col-md-3">
                <aside class="sidebar">
                    <section class="widget widget_mod-a">
                        <h3 class="widget-title">Por marca</h3>
                        <div class="decor-1"></div>
                        <div class="widget-content">
                            {% include 'autocms/fragments/make_sidebar_list.html'%}
                            {#                            <a class="list-categories__more" href="javascript:void(0);">VIEW MORE</a>#}
                        </div>
                    </section>
                    <section class="widget widget_mod-a">
                        <h3 class="widget-title">Tipo</h3>
                        <div class="decor-1"></div>
                        <div class="widget-content">
                            {% include 'autocms/fragments/type_sidebar_list.html'%}
                        </div>
                    </section>

                    <div class="wrap-filter">
                        <section class="widget widget_mod-a">
                            <h3 class="widget-title">Intervalo de preço</h3>
                            <div class="decor-1"></div>
                            <div class="widget-content">
                                <div class="slider-price" id="slider-price"></div>
											<span class="slider-price__wrap-input">
												<input class="slider-price__input" id="slider-price_min">
												<span>-</span>
												<input class="slider-price__input" id="slider-price_max">
											</span>
                                <div class="btn">
                                    <div class="btn-filter wrap__btn-skew-r js-filter">
                                        <button class="btn-skew-r btn-effect " id="price-filter"><span class="btn-skew-r__inner">Filtrar</span></button>
                                    </div>
                                </div>
                            </div>
                        </section>

                        <section class="widget widget_mod-a">
                            <h3 class="widget-title">Combustível</h3>
                            <div class="decor-1"></div>
                            <div class="widget-content">
                                <div  id="fuel-type-div" class="select select_mod-a jelect">
                                    <input id="fuel-type" name="fuel-type" data-text="imagemin" type="text" class="jelect-input">
                                    <div tabindex="0" role="button" class="jelect-current">Todos</div>
                                    <ul class="jelect-options">
                                        <li  class="jelect-option jelect-option_state_active" value="0">Gasóleo</li>
                                        <li  class="jelect-option" value="1">Gasolina</li>
                                        {#                                        <li  class="jelect-option">Type 3</li>#}
                                    </ul>
                                </div>
                            </div>
                        </section>
                    </div><!-- end wrap-filter -->



                </aside>
            </div><!-- end col -->
        </div><!-- end row -->
    </div><!-- end container -->


    {% block top_js %}
        <!-- SCRIPTS -->
        <script src="{%  static "plugins/prettyphoto/js/jquery.prettyPhoto.js" %}"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
        <script src="{% static "plugins/nouislider/jquery.nouislider.all.min.js" %}"></script>
        <script src="{% static "plugins/flexslider/jquery.flexslider.js" %}"></script>
        <script src="{% static "plugins/owl-carousel/owl.carousel.min.js" %}"></script>

    {% endblock %}


{% endblock %}
