{% load cache %}
<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html class="not-ie" lang="en" xmlns:fb="http://ogp.me/ns/fb#"> <!--<![endif]-->
	<head>
		<meta charset="utf-8">
		<title>{% block title_outer %}projectname | {% block head_title %}{% block title %}{% endblock %}{% endblock %}{% endblock %}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="{% block site-meta-description %}{% endblock %}" />
		<meta name="keywords" content="{% block site-meta-keywords %}{% endblock %}" />
		<meta name="author" content="">
		<meta name="robots" content="{% if settings.DEBUG %}nofollow{% else %}index, follow{% endif %}" />

		{% block fb_meta %}
			<meta property="og:title"       content="projectname" />
			<meta property="og:description" content="projectname description" />
			<meta property="og:type"        content="website" />
			<meta property="og:image"       content="http://projectname.com/static/img/logo-square.png" />
			<meta property="og:url"         content="http://www.facebook.com/projectname" />
			<meta property="og:site_name"   content="projectname" />
		{% endblock %}
		<link rel="canonical" href="http://{{request.META.HTTP_HOST}}{{request.path}}" />

		<!-- fav and touch icons -->
		<link rel="shortcut icon" href="{{STATIC_URL}}ico/favicon.ico">
		<link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{STATIC_URL}}ico/apple-touch-icon-114-precomposed.png">
		<link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{STATIC_URL}}ico/apple-touch-icon-72-precomposed.png">
		<link rel="apple-touch-icon-precomposed" href="{{STATIC_URL}}ico/apple-touch-icon-57-precomposed.png">

		<!-- build:css dist/css/theme.min.css -->
		<link rel="stylesheet" href="{{STATIC_URL}}css/bootstrap-datepicker.css">
		<link rel="stylesheet" href="{{STATIC_URL}}css/bootstrap-datetimepicker.min.css">
		<link rel="stylesheet" href="{{STATIC_URL}}dist/css/theme.css">
		<!-- endbuild -->
		{% block extracss %}{% endblock %}

		<!-- IE6-8 support of HTML5 elements -->
		<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->

		{% block extra_head %}{% endblock %}
		<!-- Fonts -->
		<link href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

		<!-- Base JS -->
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
		<script src="//code.jquery.com/jquery-migrate-1.2.1.js"></script>
		<script src="//code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js" type="text/javascript"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.3/moment.min.js" type="text/javascript"></script>

		<!-- build:js dist/js/base.min.js -->
		<script src="{{STATIC_URL}}js/lib/jquery.class.js"></script>
		<script src="{{STATIC_URL}}js/lib/class.js"></script>
		<script src="{{STATIC_URL}}js/lib/spin.min.js"></script>
		<script src="{{STATIC_URL}}js/lib/bootstrap.min.js"></script>
		<script src="{{STATIC_URL}}js/lib/bootstrap-datetimepicker.js"></script>
		<script src="{{STATIC_URL}}js/lib/jquery.cookie.js"></script>
		<script src="{{STATIC_URL}}js/lib/jquery.splitcols.js"></script>
		<script src="{{STATIC_URL}}js/components.js"></script>
		<script src="{{STATIC_URL}}js/main.js"></script>
		<script src="{{STATIC_URL}}js/ajax.js"></script>
		<script src="{{STATIC_URL}}js/lib/autosize.min.js"></script>
		<script src="{{STATIC_URL}}js/lib/jquery.ba-hashchange.min.js"></script>
		<script src="{{STATIC_URL}}js/lib/bootstrap-datepicker.js"></script>
		<!-- endbuild -->

		<!-- AngularJS -->
		<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.15/angular.min.js" type="text/javascript"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.15/angular-cookies.min.js" type="text/javascript"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.15/angular-route.min.js" type="text/javascript" ></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.15/angular-sanitize.min.js" type="text/javascript" ></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/restangular/1.5.1/restangular.min.js" type="text/javascript" ></script>

		<!-- build:js dist/js/client.min.js -->
		<script src="{{STATIC_URL}}js/lib/ng-file-upload-shim.min.js"></script>
		<script src="{{STATIC_URL}}js/lib/ng-file-upload.min.js"></script>
		<script src="{{STATIC_URL}}js/lib/Autolinker.min.js"></script>
		<script src="{{STATIC_URL}}client/app/templates.js"></script>
		<script src="{{STATIC_URL}}client/app/app.js"></script>
		<script src="{{STATIC_URL}}client/app/base/Filters.js"></script>
		<script src="{{STATIC_URL}}client/app/base/EventDispatcher.js"></script>
		<script src="{{STATIC_URL}}client/app/base/BaseService.js"></script>
		<script src="{{STATIC_URL}}client/app/base/AuthService.js"></script>
		<script src="{{STATIC_URL}}client/app/base/BaseModel.js"></script>
		<script src="{{STATIC_URL}}client/app/base/BaseController.js"></script>
		<script src="{{STATIC_URL}}client/app/base/Notifications.js"></script>
		<script src="{{STATIC_URL}}client/app/base/Directives.js"></script>
		<!-- endbuild -->

		<script type="text/javascript">var csrftoken = "{{ csrf_token }}";</script>
	</head>

	<body {% block body_attrs %}{% endblock %}>
		{% block content %}{% endblock %}

		{% if not settings.DEBUG and not request.user.is_staff and settings.GOOGLE_ANALYTICS_CODE %}
			<!-- asynchronous google analytics -->
			<script>
			 var _gaq = [['_setAccount', '{{settings.GOOGLE_ANALYTICS_CODE}}'], ['_trackPageview']];
			 (function(d, t) {
			  var g = d.createElement(t),
				  s = d.getElementsByTagName(t)[0];
			  g.async = true;
			  g.src = '//www.google-analytics.com/ga.js';
			  s.parentNode.insertBefore(g, s);
			 })(document, 'script');
			</script>
		{% endif %}
		{% block extra_js %}{% endblock %}
		{% block extra_body %}{% endblock %}
	</body>
</html>
