{% load cms_tags %}

<div class="row centered">
	{% if instance.qty_columns > 0 %}
	<div class="{{ instance.bootstrap_col_class }} {{ instance.extra_column_class }}">
		{% render_placeholder instance.column_1 %}
	</div>
	{% endif %}
	{% if instance.qty_columns > 1 %}
	<div class="{{ instance.bootstrap_col_class }} {{ instance.extra_column_class }}">
		{% render_placeholder instance.column_2 %}
	</div>
	{% endif %}
	{% if instance.qty_columns > 2 %}
	<div class="{{ instance.bootstrap_col_class }} {{ instance.extra_column_class }}">
		{% render_placeholder instance.column_3 %}
	</div>
	{% endif %}
	{% if instance.qty_columns > 3 %}
	<div class="{{ instance.bootstrap_col_class }} {{ instance.extra_column_class }}">
		{% render_placeholder instance.column_4 %}
	</div>
	{% endif %}
</div>
