
<form action="." id="frm_contact_{{ instance.id }}" enctype="multipart/form-data">

	<div class="form-group">
		<label for="id_name">Your name</label>
		<input type="text" class="form-control" id="id_name" name="name" placeholder="Enter your name">
	</div>

	<div class="form-group">
		<label for="id_email">Your email address</label>
		<input type="email" class="form-control" id="id_email" name="email" placeholder="Enter your email">
	</div>

	<div class="form-group">
		<label for="id_message">Message</label>
		<textarea class="form-control" id="id_message" rows="3" name="message" placeholder="Enter your message"></textarea>
	</div>

	<div class="form-group">
		<label for="id_attachment">Attach a file (optional)</label>
		<input type="file" id="id_attachment" name="attachment">
	</div>

	<hr>

	<div class="form-group button-container clearfix">
		<button type="submit" class="btn btn-primary pull-left"><i class="fa fa-send"></i> Send</button>
	</div>

</form>

<div class="alert alert-success" id="frm_success_{{ instance.id }}" role="alert" style="display: none;">
	Thank you, we will be in touch as soon as possible.
</div>

<div class="alert alert-danger" id="frm_error_{{ instance.id }}" role="alert" style="display: none;">
	Oops, it looks like there was a problem. Please try again later.
</div>

<script type="text/javascript">
	var files = null;

	$(document).ready(function() {
		$("#frm_contact_{{ instance.id }}").submit(function(e) {
			e.preventDefault();

			// Validate the form
			var name_val = $(this).find('#id_name').val();
			var email_val = $(this).find('#id_email').val();
			var message_val = $(this).find('#id_message').val();
			var attachment_val = $(this).find('#id_attachment').val();
			var error_msg = null;

			if (name_val.length == 0) {
				error_msg = "Please enter a name";
				$(this).find('#id_name').parent().addClass('has-error');
			}
			else
				$(this).find('#id_name').parent().removeClass('has-error');

			if (email_val.length == 0) {
				error_msg = "Please enter a valid email address";
				$(this).find('#id_email').parent().addClass('has-error');
			}
			else
				$(this).find('#id_email').parent().removeClass('has-error');

			if (message_val.length == 0) {
				error_msg = "Please enter a message";
				$(this).find('#id_message').parent().addClass('has-error');
			}
			else
				$(this).find('#id_message').parent().removeClass('has-error');

			$(this).find('.button-container').find('.help-block').remove();
			if (error_msg) {
				$(this).find('.button-container').addClass('has-error');
				$(this).find('.button-container').append('<p class="help-block pull-left" style="margin-left: 10px; margin-top: 0px;"><i class="fa fa-exclamation-circle"></i> '+error_msg+'</p>');
			}
			else {
				// Submit the form
				$(this).find('.button-container .btn .fa').removeClass('fa-send').addClass('fa-spinner');

				var formData = new FormData(this);
				$.ajax({
					type: 'POST',
					url: $(this).attr('action'),
					data: formData,
					processData: false,
        			contentType: false,
					success: function(data) {
						$("#frm_contact_{{ instance.id }}").fadeOut('fast', function() {
							$("#frm_success_{{ instance.id }}").fadeIn('fast');
						});
					},
					error: function(data) {
						$("#frm_contact_{{ instance.id }}").fadeOut('fast', function() {
							$("#frm_error_{{ instance.id }}").fadeIn('fast');
						});
					}
				});
			}

			return false;
		});
	});

</script>
