{% load cms_tags common_tags endless %}

<div class="content-strip">
	<div class="container">

		<div class="row">
			<div class="col-xs-9 text-left">
				<h3>{% page_attribute title %}</h3>

				{% paginate 5 news %}

				{% for item in news %}
					<small class="pull-right text-muted">{{ item.created|date }}</small>
					<a href="{{ item.get_absolute_url }}"><h4>{{ item.title }}</h4></a>
					<p>{{ item.body|truncatechars:'300' }} <a href="{{ item.get_absolute_url }}"><i class="fa fa-angle-right"></i> read more</a></p>
				{% endfor %}

				{% show_pages %}

			</div>
			<div class="col-xs-3 text-right">
				<img src="{{ STATIC_URL }}img/img-android-top.png" class="img-responsive">
			</div>
		</div>

	</div>
</div>
