<div class="content-strip blue">
	<div class="container centered">
		<img src="{{ STATIC_URL }}img/home/ico-quote-large.png" height="55" width="58"><br/><br/><br/>

		<div id="home-carousel" class="carousel slide" data-ride="carousel">
			<ol class="carousel-indicators">
				{% for item in testimonials %}
				<li data-target="#home-carousel" data-slide-to="{{ forloop.counter|add:'-1' }}" class="{% if forloop.first %}active{% endif %}"></li>
				{% endfor %}
			</ol>

			<div class="carousel-inner">
				{% for item in testimonials %}
				<div class="item {% if forloop.first %}active{% endif %}">
					<div class="carousel-caption">
						{{ item.body }}
						<br/><br/>
						<b>{{ item.name }}, {{ item.position }}. {{ item.location }}</b>
					</div>
				</div>
				{% endfor %}
			</div>

			<a class="left carousel-control" href="#home-carousel" data-slide="prev">
				<i class="fa fa-chevron-left"></i>
			</a>
			<a class="right carousel-control" href="#home-carousel" data-slide="next">
				<i class="fa fa-chevron-right"></i>
			</a>
		</div>
	</div>
</div>
