{% load cms_tags %}

<div class="content-strip {{ instance.background }} {{ instance.options }} {{ instance.content_layout }}">
	<div class="container">

		<h3>{{ instance.title }}</h3>

		<div class="row">
			<div class="col-xs-8 col-xs-offset-2 {{ instance.content_layout }}">
				<div class="row">
					<div class="col-xs-12">
						{{ instance.body|safe }}
					</div>
				</div>
			</div>
		</div>

		{% for plugin in instance.child_plugin_instances %}
			{% render_plugin plugin %}
		{% endfor %}

	</div>
</div>
