{% load cms_tags %}

<div class="content-strip {{ instance.background }} {{ instance.options }}">
	<div class="container">

		{% if instance.image_position == 0 %}
			<div class="row">
				{% if instance.image %}
				<div class="col-xs-6">
					<img src="{{ instance.image.url }}" class="img-responsive">
				</div>
				{% endif %}
				<div class="{% if instance.image %}col-xs-6{% else %}col-xs-12{% endif %} text-left">
					<h3>{% if instance.use_title_from_page %}{% page_attribute title %}{% else %}{{ instance.title }}{% endif %}</h3>
					{{ instance.body|safe }}
				</div>
			</div>
		{% else %}
			<div class="row">
				<div class="{% if instance.image %}col-xs-6{% else %}col-xs-12{% endif %} text-left">
					<h3>{% if instance.use_title_from_page %}{% page_attribute title %}{% else %}{{ instance.title }}{% endif %}</h3>
					{{ instance.body|safe }}
				</div>
				{% if instance.image %}
				<div class="col-xs-6 text-right">
					<img src="{{ instance.image.url }}" class="img-responsive">
				</div>
				{% endif %}
			</div>
		{% endif %}

	</div>
</div>
