{% extends "projectname/ui/layouts/base.html" %}

{% block title %}Home{% endblock %}
{% block page_title_outer %}{% endblock %}

{% block content_full_width %}
	<h1>Welcome</h1>
	<p>Home page succesfully loaded.</p>
{% endblock %}
