{% extends "projectname/ui/layouts/base.html" %}

{% block title%}Page not found{% endblock %}
{% block page_title %}Page not found{% endblock %}

{% block content %}
	<p>
		We're sorry but the page you requested could not be found, it could be that it no longer exists.
	</p>
	<p>Please feel free to navigate around the site to find what you were looking for. If you require further assistance please do not hesitate to get in touch.</p>
{% endblock %}
