{% load i18n common_tags %}

<ul class="pagination pagination-centered">
{% if page_obj.has_previous %}
	<li><a href="?{% url_replace request 'page' page_obj.previous_page_number %}"><</a></li>
{% else %}
	<li class="disabled"><a href="#"><</a></li>
{% endif %}
{% for page in paginator.page_range %}
	{% if page %}
		{% ifequal page page_obj.number %}
			<li class="active"><a href="#">{{ page }}</a></li>
		{% else %}
			<li><a href="?{% url_replace request 'page' page %}">{{ page }}</a></li>
		{% endifequal %}
	{% else %}
		<li class="disabled"><a href="#">...</a></li>
	{% endif %}
{% endfor %}
{% if page_obj.has_next %}
	<li><a href="?{% url_replace request 'page' page_obj.next_page_number %}">></a></li>
{% else %}
	<li class="disabled"><a href="#">></a></li>
{% endif %}
</ul>