{% load socialaccount %}

{% for provider in socialaccount.providers %}
    {% if provider.id == "openid" %}
        {% for brand in provider.get_brands %}
            <li>
                <a title="{{brand.name}}"
                 class="socialaccount_provider {{provider.id}} {{brand.id}}"
                 href="{% provider_login_url provider.id openid=brand.openid_url process=process %}"
                 >{{brand.name}}</a>
            </li>
        {% endfor %}
    {% endif %}
    <li>
        <a title="{{provider.name}}" class="socialaccount_provider {{provider.id}}"
         href="{% provider_login_url provider.id process=process %}">
            {% if provider.name == "Twitter" %}
                <i class="fa fa-twitter-square fa-5x twitter"></i>
	            <span class="twitter">{{provider.name}}</span>
            {% elif provider.name == "Facebook" %}
                <i class="fa fa-facebook-square fa-5x facebook"></i>
	            <span class="facebook">{{provider.name}}</span>
            {% elif provider.name == "Google" %}
                <i class="fa fa-google-plus-square fa-5x google"></i>
	            <span class="google">{{provider.name}}</span>
            {% endif %}
        </a>
    </li>
{% endfor %}

