{% load staticfiles %}
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimal-ui">
    {% block extra_meta %}{% endblock %}
    <title>{% block title %}Bertocar{% endblock title %}</title>

    <link href="{% static "ico/favico32.png" %}" type="image/x-icon" rel="shortcut icon">
    {#    <link href="{% static "css/main.css" %}" rel="stylesheet">#}

    <link href="{% static "plugins/iview/css/iview.css" %}" rel="stylesheet">
    <link href="{% static "plugins/iview/css/skin/style.css" %}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
    <script src= "{% static "plugins/jquery/jquery-1.11.1.min.js" %}"></script>
<!-- Begin Cookie Consent plugin by Silktide - http://silktide.com/cookieconsent -->
        <script type="text/javascript">
            window.cookieconsent_options = {
                "message": "Na Bertocar.pt usamos cookies para garantir a melhor experiência de navegação aos nossos clientes.",
                "dismiss": "Entendi",
                "learnMore": "More info",
{#                "link": {% page_url 'cookie_policy' %},#}
                "theme": "light-top"
            };
        </script>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/1.0.9/cookieconsent.min.js"></script>
        <!-- End Cookie Consent plugin -->

    {% block extracss %} {% endblock %}

        <link href="{% static "css/master.css" %}" rel="stylesheet">

    <script type="text/javascript">(function(e,b){if(!b.__SV){var a,f,i,g;window.mixpanel=b;b._i=[];b.init=function(a,e,d){function f(b,h){var a=h.split(".");2==a.length&&(b=b[a[0]],h=a[1]);b[h]=function(){b.push([h].concat(Array.prototype.slice.call(arguments,0)))}}var c=b;"undefined"!==typeof d?c=b[d]=[]:d="mixpanel";c.people=c.people||[];c.toString=function(b){var a="mixpanel";"mixpanel"!==d&&(a+="."+d);b||(a+=" (stub)");return a};c.people.toString=function(){return c.toString(1)+".people (stub)"};i="disable time_event track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config people.set people.set_once people.increment people.append people.union people.track_charge people.clear_charges people.delete_user".split(" ");
        for(g=0;g<i.length;g++)f(c,i[g]);b._i.push([a,e,d])};b.__SV=1.2;a=e.createElement("script");a.type="text/javascript";a.async=!0;a.src="undefined"!==typeof MIXPANEL_CUSTOM_LIB_URL?MIXPANEL_CUSTOM_LIB_URL:"file:"===e.location.protocol&&"//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js".match(/^\/\//)?"https://cdn.mxpnl.com/libs/mixpanel-2-latest.min.js":"//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js";f=e.getElementsByTagName("script")[0];f.parentNode.insertBefore(a,f)}})(document,window.mixpanel||[]);
    mixpanel.init("2c333c2865971ae789a863e50f53de24");</script><!-- end Mixpanel -->

</head>
<body>

<div id="this-top" class="layout-theme animated-css"  data-header="sticky" data-header-top="200"  >

    <!-- Loader -->
    <div id="page-preloader"><span class="spinner"></span></div>
    <!-- Loader end -->

    <div id="wrapper">

        <!-- HEADER -->
        <div class="header">
            <div class="top-header">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="header-contacts">
                                <span class="header-contacts__item"><i class="icon fa fa-phone"></i>914917771</span>
                                <a class="header-contacts__item" href="mailto:geral@bertocar.pt" target="_blank"><i class="icon fa fa-envelope"></i>geral@bertocar.pt</a>
                                <a class="header-contacts__item" href="http://home.standvirtual.com/bertocarautomoveis" target="_blank">standvirtual</a>
                                <a class="header-contacts__item icon fa fa-facebook" href="http://facebook.com/bertocarauto" target="_blank"></a>
                            </div>
                            {#                            <ul class="social-links list-inline">#}
                            {#                                <li><a class="icon fa fa-facebook" href="javascript:void(0);"></a></li>#}
                            {#                                <li><a class="icon fa fa-twitter" href="javascript:void(0);"></a></li>#}
                            {#                                <li><a class="icon fa fa-youtube-play" href="javascript:void(0);"></a></li>#}
                            {#                                <li><a class="icon fa fa-instagram" href="javascript:void(0);"></a></li>#}
                            {#                                <li><a class="icon fa fa-google-plus" href="javascript:void(0);"></a></li>#}
                            {#                            </ul>#}
                        </div><!-- end col -->
                    </div><!-- end row -->
                </div><!-- end container -->
            </div><!-- end top-header -->


            <div class="header__inner">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 col-xs-12"> <a href="/" class="logo"> <img class="logo__img img-responsive" src="{% static "img/bertocarsvgwhite.png" %}" alt="Logo"> </a>
                            <div class="navbar yamm">
                                <div class="navbar-header hidden-md hidden-lg hidden-sm">
                                    <button type="button" data-toggle="collapse" data-target="#navbar-collapse-1" class="navbar-toggle"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
                                    <a href="javascript:void(0);" class="navbar-brand"></a>
                                    {#                                    <span class="header-contacts__item"><i class="icon fa fa-phone"></i>914917771</span>#}
                                    {#                                    <a class="header-contacts__item" href="mailto:geral@bertocar.pt"><i class="icon fa fa-envelope"></i>geral@bertocar.pt</a>#}


                                </div>
                                <div id="navbar-collapse-1" class="navbar-collapse collapse">
                                    <ul class="nav navbar-nav">
                                        <li><a href="/">HOME</a></li>
                                        <li><a href="veiculos">Todos os veículos</a> </li>
                                        <li></li>
                                        <li><a href="#contactos-footer">Contactos</a> </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end container -->
            </div><!-- end header__inner -->
        </div><!-- end header -->

        {% block body_content %}{% endblock body_content %}



        <footer class="footer" id="contactos-footer">
            <div class="wrap-section-border">
                <section class="section_mod-h section-bg section-bg_second">
                    <div class="bg-inner border-section-top border-section-top_mod-b">
                        <div class="container">
                            <div class="row">
                                <div class="col-xs-12">
                                    <h2 class="footer-title">berto <span class="footer-title__inner">Car</span></h2>
                                    <div class="decor-1 decor-1_mod-b"></div>
                                </div><!-- end col -->
                            </div><!-- end row -->

                            <div class="row">
                                {#                                 <div class="col-xs-3"></div>#}
                                <div class="footer__name">: LOCALIZAÇÃO :</div>
                                <div class="col-md-6 col-md-offset-3">
                                    <style>
                                        #map {
                                            width: 100%;
                                            height: 400px;
                                        }
                                    </style>
                                    <div id="map"></div>
                                    <script>
                                        function initMap() {
                                            var mapDiv = document.getElementById('map');
                                            var map = new google.maps.Map(mapDiv, {
                                                center: {lat: 41.566215, lng: -8.545002},
                                                zoom: 16
                                            });
                                            var iconBase = 'https://maps.google.com/mapfiles/kml/shapes/';
                                            var marker = new google.maps.Marker({
                                                position: {lat: 41.566215 , lng: -8.545002},
                                                map: map,
                                                icon: iconBase + 'schools_maps.png'
                                            });
                                        }
                                    </script>
                                    <script src="https://maps.googleapis.com/maps/api/js?callback=initMap"
                                            async defer></script>

                                    <div class="footer__text">Rua EN 205, nr 938 <br/> 4750-250</div>
                                </div><!-- end col -->
                                {#                                <div class="col-xs-3"></div>#}
                            </div><!-- end row -->
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="footer__item">
                                        <span class="footer__name">Tlm:</span>
                                        <span class="footer__text">914917771</span>
                                    </div>
                                    {#                                    <div class="footer__item">#}
                                    {#                                        <span class="footer__name">Fax:</span>#}
                                    {#                                        <span class="footer__text">+1 (234) 567 8998</span>#}
                                    {#                                    </div>#}
                                    <div class="footer__item">
                                        <span class="footer__name">email:</span>
                                        <span class="footer__text">geral@bertocar.pt</span>
                                    </div>
                                    <div class="footer__item">
                                        <span class="footer__name">Horário de Verão:</span>
                                        <span class="footer__text">9h - 20h</span>
                                        <span class="footer__name">Horário de Inverno:</span>
                                        <span class="footer__text">9h - 19h</span>
                                    </div>
                                </div><!-- end col -->
                            </div><!-- end row -->
                            <div class="row">
                                <div class="col-xs-12">
                                    <ul class="social-links list-inline">
                                        <li><a class="icon fa fa-facebook" href="http://facebook.com/bertocarauto" target="_blank"></a></li>

                                        {#                                        <li><a class="icon fa fa-twitter" href="javascript:void(0);"></a></li>#}
                                        {#                                        <li><a class="icon fa fa-youtube-play" href="javascript:void(0);"></a></li>#}
                                        {#                                        <li><a class="icon fa fa-instagram" href="javascript:void(0);"></a></li>#}
                                        {#                                        <li><a class="icon fa fa-google-plus" href="javascript:void(0);"></a></li>#}
                                    </ul>
                                </div><!-- end col -->
                            </div><!-- end row -->
                        </div><!-- end container -->
                    </div><!-- end bg-inner -->
                </section><!-- end section_mod-b -->
            </div><!-- end wrap-section-border -->
            <div class="footer__wrap-btn"> <a class="footer__btn scroll" href="#this-top">top</a> </div>

            <div class="copyright">Copyrights 2015 <a class="copyright__link" href="/">Bertocar</a> : : All rights reserved</div>
        </footer>
        <span class="scroll-top"> <i class="fa fa-angle-up"> </i></span>


    </div>
    <!-- end #wrapper -->

    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="{% static "js/carousel.js" %}"></script>

    <!-- SCRIPTS -->
    <script src="{% static "js/jquery-migrate-1.2.1.js" %}"></script>
    <script src="{% static "plugins/bootstrap/js/bootstrap.min.js" %}"></script>
    <script src="{% static "js/modernizr.custom.js" %}"></script>
    <script src="{% static "plugins/owl-carousel/owl.carousel.min.js" %}"></script>
    <script src="{% static "js/waypoints.min.js" %}"></script>
    <script src="{% static "plugins/prettyphoto/js/jquery.prettyPhoto.js" %}"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="{% static "plugins/jelect/jquery.jelect.js" %}"></script>
    <script src="{% static "js/main.js" %}"></script>


    {% block top_js %}
    {% endblock %}


    <!--THEME-->
    <script src="{% static "js/cssua.min.js" %}"></script>
    <script src="{% static "js/wow.min.js" %}"></script>
    <script src="{% static "js/custom.js" %}"></script>
    {##}
    {#    <script type="text/javascript">#}
    {#        mixpanel.track_links("a", "click link", {#}
    {#            "referrer": document.referrer#}
    {#        });#}
    {#    </script>#}
</body>
</html>
