// BASE ELEMENTS
// --------------------------------------------------




// SHARED COMPONENTS
// --------------------------------------------------




// CUSTOM COMPONENTS
// --------------------------------------------------

// Centered forms
.centered-offset-content {
    text-align: center;
    h1 {
        margin-bottom: 30px;
    }
    p {
        font-size: 16px;
        line-height: 25px;
        margin-bottom: 30px;
    }

    form {
        input {
            height: 54px;
            font-size: 20px;
            &#id_remember {
                display: none;
            }
            &#id_image {
                height: 100%;
                background: #E5E5E5;
                padding: 10px;
                font-size: 14px;
                border-radius: 5px;
            }
        }

        div {
            div {
                 .chosen-container {
                    width: 100% !important;
                }
                .chosen-container-single .chosen-single {
                    font-size: 20px;
                    height: 54px;
                    padding: 14px 0 0 8px;
                }
                .chosen-container-single .chosen-single div b {
                    position: relative;
                    top: 17px;
                    height: 15px;
                }
            }
        }
    }

    .btn-primary {
        position: relative;
        width: 50%;
        margin: 30px 0 40px 0;
        color: #ffffff;
        font-size: 35px;
        height: 60px;
        padding: 5px 16px;
        border: 0px;
        width: 100%;

        &:hover {
            transition: background 0.4s;
        }
    }

}

// Login - Signup
.login-no-social, .signup-no-social {
    text-align: left;
    padding: 0 70px 0 0;
    margin: 50px 0;
    border-right: 1px solid #E5E5E5;
}

.signup-no-social {
    button {
        margin: 7px 0 0 0 !important;
    }
}

.socialaccount_ballot {
    padding: 0 40px;
    margin: 50px 0;
    ul {
        list-style: none;
        padding-left: 0px;
        li {
            margin-top: 30px;
            a {
                background: #E5E5E5;
                padding: 10px 15px;
                display: block;
                margin-bottom: 20px;
                text-decoration: none;
                border-radius: 6px;
                span {
                    position: relative;
                    bottom: 15px;
                    left: 15px;
                    font-size: 24px;
                    color: #9B9B9B;
                }
                i {
                    &.twitter {
                        color: #5EA9DD;
                    }
                    &.facebook {
                        color: #3B5998;
                    }
                    &.google {
                        color: #CA3B2B;
                    }
                }
                &:hover {
                    background: darken(#E5E5E5, 10%);
                    transition: background 0.4s;
                    span {
                        left: 20%;
                        &.twitter {
                            color: #5EA9DD;
                        }
                        &.facebook {
                            color: #3B5998;
                        }
                        &.google {
                            color: #CA3B2B;
                        }
                        transition: color 0.4s, left 0.4s;
                    }
                }
            }
        }
    }
}



// MAIN CONTENT
// --------------------------------------------------





// FOOTER
// --------------------------------------------------
.trademark {
    float: left;
    position: absolute;
    bottom: 0px;
    width: 111px;
    height: 40px;

    a {
        .transition(margin-top 200ms ease-out);
        background: url(../img/trademark.png) no-repeat;
        float: left;
        width: 111px;
        height: 40px;
        margin-top: 36px;
        &:hover {
            margin-top: 0px;
        }
    }
}
