{% load common_tags fb_versions %}

<div class="input-append time timepicker" data-date="{% if field.value %}{{field.value|time:'H:i'}}{% else %}{% now "H:i" %}{% endif %}" data-date-format="hh:mm">
	<input class="{{field.field.widget.attrs.class}} form-control" size="16" type="text" value="{{field.value|time:'H:i'}}" id="id_{{field.html_name}}" name="{{field.html_name}}">
	<span class="add-on"><i class="icon-time"></i></span>
</div>