@import "bootstrap/variables.less";

@media (max-width: @screen-md-max) {
	// iPads (landscape) and small laptops
}
@media (max-width: @screen-md-max) and (max-height: 750px) {
	// iPad Mini (landscape)
}
@media (max-width: @screen-sm-max) {
	// iPads (portrait)
}
@media (max-width: @screen-xs-max) {
	// Mobiles
}
