{% extends "projectname/ui/layouts/base.html" %}

{% block title %}Home{% endblock %}
{% block page_title_outer %}{% endblock %}

{% block body_attrs %}ng-app="AngularApp" ng-controller="AppController"{% endblock %}

{% block content %}
<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<div ng-include src="'/static/client/views/fragments/header.html'"></div>
			<div ng-view></div>
			<div ng-include src="'/static/client/views/fragments/footer.html'"></div>
		</div>
	</div>
</div>
{% endblock %}
