<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">projectname</a>
        </div>

        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li ng-show="!loggedInUser"><a href="/accounts/login/?next=/">Login</a></li>
                <li ng-show="loggedInUser"><a href="#">Logged in as: {$ loggedInUser.email $}</a></li>
                <li ng-show="loggedInUser"><a href="/accounts/logout/?next=/">Logout</a></li>
            </ul>
        </div>
    </div>
</nav>
