{% extends "admin/index.html" %}
{% load staticfiles %}

{% block content %}
    <link href="{% static "css/admin.css" %}" rel="stylesheet">

    <script  src="//code.jquery.com/jquery-1.12.2.min.js"   integrity="sha256-lZFHibXzMHo3GGeehn1hudTAP3Sc0uKXBXAzHX1sjtk="   crossorigin="anonymous"></script>
    <div class="row" id="scrape-btn">
        <button type="submit" id="scrape-admin-btn">Atualizar carros (standvirtual)</button>
        <p></p>
    </div>
    {{ block.super }}
    <script>
    $("#scrape-btn p").html()
        document.getElementById("scrape-admin-btn").addEventListener('click',function(){
            $("#scrape-btn p").html("A atualizar, aguarde.");
            $.ajax({
                type: "GET",
                url: "/scrape/standvirtual",
               success: function(data) {
                    console.log("scrapping sucessful " + data['status']);
                   $("#scrape-btn p").html("Atualizacao completa, estado " + data['status']+". Pode consultar o relatorio no email.");

                }
            });
        });
    </script>
{% endblock %}