{% extends "account/base.html" %}

{% load common_tags %}
{% load url from future %}
{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
    <div class="col-md-5 col-md-offset-3 centered-offset-content">
        <h1>{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}</h1>

        {% if token_fail %}
            {% url 'account_reset_password' as passwd_reset_url %}
            <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
        {% else %}
            {% if form %}
                <form method="POST" action=".">
                    {% csrf_token %}
                    {% with hide_labels=1 use_label_as_placeholder=1 append_to_placeholders='Enter '%}
                        {% render_form form %}
                    {% endwith %}
                    <input class="btn btn-primary btn-lg" type="submit" name="action" value="{% trans "change password" %}"/>
                </form>
            {% else %}
                <p>{% trans 'Your password is now changed.' %}</p>
            {% endif %}
        {% endif %}
    </div>
{% endblock %}
