{% extends "account/base.html" %}

{% load common_tags %}
{% load i18n %}
{% load account %}
{% load url from future %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
<div class="col-md-5 col-md-offset-3 centered-offset-content">
    <h1>{% trans "Password Reset" %}</h1>
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
    
    <p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>
    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
        {% csrf_token %}
        {%  with hide_labels=1 use_label_as_placeholder=1 append_to_placeholders='Please enter your ' %}
            {% render_form form %}
        {% endwith %}

        <input class="btn btn-primary btn-lg" type="submit" value="{% trans "Reset My Password" %}" />
    </form>
    <p>{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>
</div>
{% endblock %}

{% block extra_body %}
    <script>
        $("#id_email").focus();
    </script>
{% endblock %}
