{% extends "account/base.html" %}

{% load common_tags %}
{% load url from future %}
{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}
{% block page_title %}Register for free{% endblock %}
{% block content %}
    <div class="col-xs-12 col-md-6 centered-offset-content">
        <div class="signup-no-social">
            <h1>{% trans "Sign Up" %}</h1>

            <p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>

            <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
                {% csrf_token %}
                {%  with hide_labels=1 use_label_as_placeholder=1 %}
                    {% render_form form %}
                {% endwith %}
                {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}
                <button type="submit" class="btn btn-primary btn-lg">{% trans "Sign Up" %} &raquo;</button>
            </form>
        </div>
	</div>
	<div class="col-xs-12 col-md-6">
        {% include "projectname/ui/fragments/social_login_signup.html" %}
    </div>

{% endblock %}


