{% extends "account/base.html" %}

{% load common_tags %}
{% load i18n %}
{% load account %}
{% load url from future %}

{% block head_title %}{% trans "Login to your account" %}{% endblock %}

{% block content %}

<div class="col-xs-12 col-md-6 centered-offset-content">
    <div class="login-no-social">
        <h1>{% trans "Login" %}</h1>

        {% if socialaccount.providers  %}
            <p>{% blocktrans with site.name as site_name %}Please sign in with one
                of your existing third party accounts. Or, <a href="{{ signup_url }}">sign up</a>
                for a {{site_name}} account and sign in below:{% endblocktrans %}</p>

        {% else %}
            <p>{% blocktrans %}If you have not created an account yet, then please
                <a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>
        {% endif %}
        <form class="login" method="POST" action="{% url 'account_login' %}">
            {% csrf_token %}
            {%  with hide_labels=1 use_label_as_placeholder=1 %}
                {% render_form form %}
            {% endwith %}
            {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}
            <a class="button secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
            <button class="btn btn-primary btn-lg" type="submit">{% trans "Login" %}</button>
        </form>
    </div>
</div>
<div class="col-xs-12 col-md-6">
    {% include "autocms/ui/fragments/social_login_signup.html" %}
</div>

{% endblock %}
