<p>Congratulations, you have loaded page one of the sample AngularJS app. Why not try <a href="#/page-two">page two</a></p>

<div ng-controller="ManageUsersController" ng-init="loadUsers()">
    <p>Below is a simple example that lets you view, add, edit and delete users.</p>

    <b>Current users:</b><br/>
    <ul>
        <li ng-repeat="user in users">{$ user.email $} (<a ng-click="deleteUser(user)" href="">delete</a>)</li>
    </ul>

    <br/>

    <input ng-model="newUserUsername" type="text" placeholder="Enter username">
    <input ng-model="newUserEmail" type="text" placeholder="Enter email address">
    <a ng-click="addUser()" href="" class="btn btn-primary">Add new user</a>

</div>
