
<ul class="pagination">
	{% for page in pages %}
		<li class="{% if page.is_current %}active{% endif %}">{{ page|default_if_none:'<span class="endless_separator">...</span>' }}</li>
	{% endfor %}
</ul>
