{% load common_tags menu_tags %}

<div class="header">
	<div class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<a class="brand" href="/">{{settings.PROJECT_SITE_NAME}}</a>
				{% show_menu 0 100 100 100 "projectname/ui/fragments/cms_menu.html" %}

				{% if user.is_authenticated %}
					<ul class="nav pull-right">
						<li class="divider-vertical"></li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">{{user.username|truncatechars:'30'}} <b class="caret"></b></a>
							<ul class="dropdown-menu">
								<li><a href="/"><i class="icon-facetime-video"></i>  My Items</a></li>
								<li class="divider"></li>
								<li><a href="{% url 'edit_profile' %}"><i class="icon-user"></i>  Edit Profile</a></li>
								<li><a href="{% url 'account_change_password' %}"><i class="icon-user"></i>  Change Password</a></li>
								<li class="divider"></li>
								<li><a href="{% url 'account_logout' %}"><i class="icon-remove"></i>  Logout</a></li>
							</ul>
						</li>
					</ul>
				{% else %}
					<ul class="nav pull-right">
						<li><a href="{% url 'account_login' %}">Login</a></li>
					</ul>
				{% endif %}
			</div>
		</div>
	</div>
</div>

{% if messages %}
	<div class="container">
		{% for message in messages %}
		<div class="alert alert-block {% if message.tags|contains:'success' %}alert-success{% endif %} {% if message.tags|contains:'error' %}alert-error{% endif %} {% if message.tags|contains:'info' %}alert-info{% endif %}">
			<a class="close" data-dismiss="alert" href="#">×</a>
			{{ message }}
		</div>
		{% endfor %}
	</div>
{% endif %}
