{% load i18n %}

<div class="socialaccount_ballot">
    <h1>{% trans "Login with social media" %}</h1>
    <ul class="socialaccount_providers">
        {% include "socialaccount/snippets/provider_list.html" with process="login" %}
    </ul>
</div>