{% load humanize bertocar_tags %}

{%  for car in car_list %}
    <article class="card clearfix car-listing-item">
        <div class="col-xs-12 col-sm-6">
            <a href="/veiculos/{{ car.slug }}" class="car-href{{ car.id }}">
                <img class="img-responsive " src="{{ car.get_main_img_url }}"  alt="foto">
            </a>
        </div>
        <div class="col-xs-12 col-sm-6">
            <h2 class="card__title ui-title-inner"> <a href="/veiculos/{{ car.slug }}" class="car-href{{ car.id }}">{{ car.model }}</a></h2>
            <div class="decor-1"></div>
            {% if car.description %}
                <div class="card__description">
                    <p>{{ car.description|capsentence }}</p>
                </div>
            {% endif %}
            <div class="row cars-list-details">
                <div class="col-xs-12">
                    <span class="card-list__title">Primeiro Registo</span>
                    <span class="card-list__info">{{ car.first_record }}</span>
                </div>
                <div class="col-xs-12">
                    <span class="card-list__title">Combustivel</span>
                    <span class="card-list__info">{{ car.get_fuel_display }}</span>
                </div>
                <div class="col-xs-12">
                    <span class="card-list__title">KM:</span>
                    <span class="card-list__info">{{ car.mileage|intcomma }}</span>
                </div>
                <div class="col-xs-12">
                    <span class="card-list__title">Potencia</span>
                    <span class="card-list__info">{{ car.horse_power }} CV</span>
                </div>
            </div>
            <section>
                <p>PREÇO:<span class="card__price-number">€ {{ car.price|intcomma }}</span></p>
                <a href="/veiculos/{{ car.slug }}"> Consultar opções de crédito</a>
            </section>
        </div>
    </article>


{% endfor %}
