<section class="widget">
    <h3 class="widget-title">Especificações</h3>
    <div class="decor-1"></div>
    <div class="widget-content">
        <dl class="list-descriptions list-unstyled">
            <dt>Marca e modelo:</dt>
            <dd>{{ car.model }}</dd>
            <dt>Primeiro Registo:</dt>
            <dd>{{ car.first_record }}</dd>
            <dt>Tipo:</dt>
            <dd>{{ car.type }}</dd>
{#            <dt>Motor:</dt>#}
{#            <dd>DOHC 16-valve inline-4, aluminum block and head, direct fuel injection</dd>#}
{#            <dt>Dimensoes:</dt>#}
{#            <dd>Wheelbase: 111.7 in<br>#}
{#                Length: 201.3 in<br>#}
{#                Width: 73.0 in Height: 58.9 in<br>#}
{#                Curb weight: 3700 lb#}
{#            </dd>#}
            <dt>Potência:</dt>
            <dd>{{ car.horse_power }} CV</dd>
            <dt>KM:</dt>
            <dd>{{ car.mileage }}</dd>
            <dt>Combustível</dt>
            <dd>{{ car.get_fuel_display }}</dd>
{#            <dt>Portas:</dt>#}
{#            <dd>5 Seats</dd>#}
            <dt>Cor:</dt>
            <dd>{{ car.color }}</dd>
        </dl>
    </div>
</section>
{#<section class="widget widget-banner">#}
{#    <h3 class="widget-title">car video</h3>#}
{#    <div class="decor-1"></div>#}
{#    <div class="widget-content">#}
{#        <div class="widget-slider owl-carousel owl-theme owl-theme_mod-d enable-owl-carousel"#}
{#             data-pagination="true"#}
{#             data-single-item="true"#}
{#             data-auto-play="7000"#}
{#             data-transition-style="fade"#}
{#             data-main-text-animation="true"#}
{#             data-after-init-delay="3000"#}
{#             data-after-move-delay="1000"#}
{#             data-stop-on-hover="true">#}
{##}
{#            <div class="widget-slider__item"><a href="https://www.youtube.com/watch?v=neS5h_VSvb8" rel="prettyPhoto"><img class="img-responsive" src="assets/media/banners/1.jpg" height="250" width="306" alt="banner"></a></div>#}
{#            <div class="widget-slider__item"><a href="https://www.youtube.com/watch?v=neS5h_VSvb8" rel="prettyPhoto"><img class="img-responsive" src="assets/media/banners/1.jpg" height="250" width="306" alt="banner"></a></div>#}
{#            <div class="widget-slider__item"><a href="https://www.youtube.com/watch?v=neS5h_VSvb8" rel="prettyPhoto"><img class="img-responsive" src="assets/media/banners/1.jpg" height="250" width="306" alt="banner"></a></div>#}
{#            <div class="widget-slider__item"><a href="https://www.youtube.com/watch?v=neS5h_VSvb8" rel="prettyPhoto"><img class="img-responsive" src="assets/media/banners/1.jpg" height="250" width="306" alt="banner"></a></div>#}
{#        </div>#}
{#    </div>#}
{#</section>#}

{#<section class="widget">#}
{#    <h3 class="widget-title">relates cars</h3>#}
{#    <div class="decor-1"></div>#}
{#    <div class="widget-content">#}
{#        <section class="widget-post1 clearfix">#}
{#            <div class="widget-post1__img">#}
{#                <img class="img-responsive" src="assets/media/widget-post/1.jpg" height="75" width="75" alt="foto">#}
{#            </div>#}
{#            <div class="widget-post1__inner">#}
{#                <h3 class="widget-post1__title">Toyota Avalon</h3>#}
{#                <div class="widget-post1__price">Price: $33,120</div>#}
{#                <div class="widget-post1__description">Cullam semper aibe vestibulum</div>#}
{#            </div>#}
{#        </section>#}
{#        <section class="widget-post1 clearfix">#}
{#            <div class="widget-post1__img">#}
{#                <img class="img-responsive" src="assets/media/widget-post/2.jpg" height="75" width="75" alt="foto">#}
{#            </div>#}
{#            <div class="widget-post1__inner">#}
{#                <h3 class="widget-post1__title">Nissan Maxima</h3>#}
{#                <div class="widget-post1__price">Price: $40,685</div>#}
{#                <div class="widget-post1__description">Cullam semper aibe vestibulum</div>#}
{#            </div>#}
{#        </section>#}
{#    </div>#}
{#</section>#}

{#<div class="widget widget_mod-b">#}
{#    <div class="wrap-social-block wrap-social-block_mod-a">#}
{#        <div class="social-block ">#}
{#            <div class="social-block__inner">#}
{#                <span class="social-block__title">Partilhe!</span>#}
{#                <ul class="social-block__list list-inline">#}
{#                    <li><a class="icon fa fa-facebook" href="http://www.facebook.com/share.php?u=#&title={{ car.model }} - Bertocar" target="_blank"></a></li>#}
{#                    <li><a class="icon fa fa-twitter" href="javascript:void(0);"></a></li>#}
{#                    <li><a class="icon fa fa-google-plus" href="javascript:void(0);"></a></li>#}
{#                </ul>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#</div>#}