{% load staticfiles humanize %}

<div class="sp-slides">

    {% for car in cars %}

        <div class="sp-slide"> <img class="sp-image" src="{{ car.get_main_img_url }}"
                                    data-src="{{ car.get_main_img_url }}"
                                    data-retina="{{ car.get_main_img_url }}" alt="img"/>

            <div class="item-wrap sp-layer  sp-padding" data-horizontal="100"  data-vertical="300"
                 data-show-transition="left" data-hide-transition="up" data-show-delay="400" data-hide-delay="200">
                <div class="main-slider__inner text-left">
                    <div class="custom-caption"> <a class="main-slider__btn btn-effect" href="javascript:void(0);"><span class="main-slider__btn_inner">Em destaque</span></a>
                        <div class="main-slider__title"><a href="/veiculos/{{ car.slug }}">{{ car.model }}</a></div>
                        {#                                <div class="main-slider__subtitle">High Performance & Outstanding Technology Combined</div>#}
                        <div class="decor-1"></div>
                        {#                                <div class="main-slider__text">Starts from</div>#}
                        <div> <span class="main-slider__price">{{ car.price|intcomma }}€</span> <a class="main-slider__link" href="/veiculos/{{ car.slug }}"><i class="icon fa fa-caret-right"></i></a> </div>
                    </div>
                </div>
            </div>


        </div>
    {% endfor %}



</div>