<ul class="list-categories list-unstyled">
<li class="list-categories__item">
            <a class="list-categories__link make-link selected" href=""><span>Todos</span></a>
        </li>
    {% for make in makers %}
        {% if make.get_total %}
        <li class="list-categories__item">
            <a class="list-categories__link make-link" href=""><span>{{ make.title }}</span> ({{ make.get_total }})</a>
        </li>
        {% endif %}
    {% endfor %}
</ul>