{% load staticfiles humanize %}


<div class="container">
    <div class="row">
    <div class="col-xs-12">
        <h2 class="ui-title-block">Mais recentes</h2>
        <h3><a class="btn" href="veiculos">> Ver todos</a></h3>
    </div>
        <div class="slider-grid__item">
{#            <div class="row">#}

                {% for car in most_recent %}

                    <div class="col-xs-12 col-sm-6 col-md-4">
                    <a href="/veiculos/{{ car.slug }}">
                        <div class="slider-grid__inner slider-grid__inner_mod-b"> <img class="img-responsive" src="{{ car.get_main_img_url }}" height="181" width="320" alt="foto"> <span class="slider-grid__name">{{ car.model }}</span>
                            <div class="slider-grid__hover"> <span class="slider-grid__price">{{ car.price|intcomma }}€</span>
                                <ul class="slider-grid__info list-unstyled">
                                    <li><i class="icon icon-speedometer"></i>{{ car.mileage|intcomma }} KM</li>
                                    <li><i class="icon icon-paper-plane"></i>{{ car.first_record }}</li>
                                    <li><i class="icon material-icons">gradient</i>{{ car.get_fuel_display }}</li>
{#                                    <li><i class="icon icon-paper-plane"></i>{{ car.horse_power }} CV</li>#}
                                </ul>
                            </div>
                        </div>
                        </a>
                    </div>
                {% endfor %}

{#            </div>#}
        </div>

    </div>
    <!-- end row -->
</div>
<!-- end container -->