<div class="list-services"> <i class="icon fa fa-car"></i>
    <div class="decor-1"></div>
    <div class="list-services__inner">
        <h3 class="list-services__title"><strong>Usados de </strong>Confiança</h3>
        <div class="list-services__description">Confiança e compromisso é o nosso lema.
Venha visitar-nos e avalie por si mesmo!</div>
    </div>
</div>

<div class="list-services"> <i class="icon fa fa-home"></i>
    <div class="decor-1"></div>
    <div class="list-services__inner">
        <h3 class="list-services__title">Atendimento <strong>Personalizado</strong></h3>
        <div class="list-services__description">Não encontra o que procura? Fale connosco que nós encontramos e trazemos até si ao melhor preço do mercado.</div>
    </div>
</div>

<div class="list-services"> <i class="icon fa fa-credit-card"></i>
    <div class="decor-1"></div>
    <div class="list-services__inner">
        <h3 class="list-services__title">Pagamento<strong>Facilitado</strong></h3>
        <div class="list-services__description">O nosso objetivo é pôr tudo a andar sobre rodas. Consulte as possibilidades de crédito para cada veículo!</div>
    </div>
</div>
<!-- end list-services -->
<div class="list-services"> <i class="icon flaticon-speakers17"></i>
    <div class="decor-1"></div>
    <div class="list-services__inner">
        <h3 class="list-services__title"><strong></strong>Assistência</h3>
        <div class="list-services__description"> Trabalhamos com os melhores profissionais da região para garantir a melhor qualidade do seu veículo.</div>
    </div>
</div>
<!-- end list-services -->

<!-- end list-services -->

