<ul class="list-categories list-unstyled">
    <li class="list-categories__item">
            <a class="list-categories__link type-link selected" href=""><span>Todos</span></a>
        </li>
    {% for type in types %}
        {% if type.get_total %}
        <li class="list-categories__item">
            <a class="list-categories__link type-link" href=""><span>{{ type.title }}</span> ({{ type.get_total }})</a>
        </li>
        {% endif %}
    {% endfor %}
</ul>