#scrape-btn{
	width: 100%;
	float:left;
	margin:30px 0px;
}

#scrape-btn button{
	font-size:14px !important;
	min-height: 30px;
	font-weight: bold;
	border:3px solid darkred !important;
	border-radius: 16px !important;
	padding: 10px 20px !important;
}
#scrape-btn button:hover{
	color:#ffffff !important;
	background-color:darkred !important;
}