/*------------------------------------------------------------------
[Table of contents]
- Page Heading
- Blog
- Post Page
- Comments
-------------------------------------------------------------------*/

/*01. Page Heading*/


/*02  Blog */

.wrap-post {
	margin-right: -15px;
	margin-bottom: 25px;
	margin-left: -15px;
	text-align: center;
}

.post {
	position: relative;
	margin-bottom: 40px;
}
.post .entry-media {
	position: relative;
}
.post .entry-main {
	position: relative;
	padding: 50px 20px 20px 50px;
	background: #fff;
	transition: all 0.3s;
}
.post:hover .entry-main_mod-a {
	background: url('../img/bg/texture-1.gif');
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}
.post .entry-title {
	font-family: Raleway;
	font-size: 18px;
	font-weight: 700;
	text-transform: uppercase;
}
.post .entry-title,
.post .entry-title a {
	margin-top: 0;
	margin-bottom: 13px;
	padding-right: 50px;
	color: #222;
}
.post .entry-meta {
	text-transform: uppercase;
}
.post .entry-meta__item {
	margin-right: 15px;
	font-size: 11px;
	font-weight: 500;
	color: #999;
}
.post .entry-main__inner {
	position: relative;
	margin-bottom: 25px;
}
.post .entry-main__inner:after {
	position: absolute;
	top: 0;
	left: -50px;
	width: 5px;
	height: 100%;
	background-color: #999;
	content: '';
	transition: all 0.3s;
}
.post .entry-content {
	padding-top: 5px;
}
.post .entry-date {
	position: absolute;
	width: 50px;
	height: 50px;
	border-radius: 1px;
	box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.22);
	transform: rotate(45deg);
}
.post .entry-date__inner {
	display: block;
	margin: -3px 0 0 14px;
	font-family: Ubuntu;
	font-size: 12px;
	font-weight: 700;
	color: #fff;
	vertical-align: middle;
	transform: rotate(-45deg);
	text-transform: uppercase;
}
.post .entry-btn {
	position: absolute;
	top: 25px;
	left: 30px;
	opacity: 0;
	transition: all 0.3s;
}
.post:hover .entry-btn {
	opacity: 1;
}
.entry-date__number {
	font-size: 15px;
}

.wrap-post-btn {
	display: inline-block;
	padding-right: 7px;
	border-left: 1px  solid #eee;
	overflow: hidden;
}
.post-btn {
	display: block;
	margin-left: -8px;
	padding: 12px 18px 12px 18px;
	font-size: 10px;
	font-weight: 500;
	color: #555;
	vertical-align: top;
	border: 1px solid #eee;
	background-color: #fff;
	transform: skewX(22deg);
	text-transform: uppercase;
}
.post-btn:hover {
	color: #fff;
	text-decoration: none;
}
.post-btn__inner {
	display: block;
	transform: skewX(-22deg);
}
.post .decor-1 {
	margin-bottom: 15px;
}
.post .entry-footer {
	margin-top: 30px;
	margin-bottom: 15px;
}
.post-link {
	font-family: Raleway;
	font-size: 11px;
	font-weight: 700;
	color: #222;
	text-transform: uppercase;
}
.post .ui-title-inner {
	margin-bottom: 18px;
	padding-top: 20px;
	font-size: 14px;
}
.post .wrap-social-block {
	margin-top: 0;
	margin-bottom: 20px;
}


.post_mod-a .entry-date {
	top: 61px;
}
.post_mod-a .entry-media {
	max-width: 470px;
}
.post_mod-a:nth-child(odd) .entry-media {
	float: right;
}
.post_mod-a:nth-child(even) .entry-media {
	float: left;
}
.post_mod-a .post-hover {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.6);
	opacity: 0;
	transition: all 0.3s;
	text-align: center;
}
.post_mod-a:hover .post-hover {
	opacity: 1;
}
.post_mod-a .post-hover .icon {
	display: inline-block;
	font-size: 20px;
	color: #fff;
	vertical-align: middle;
}
.post_mod-a .entry-main {
	padding-top: 55px;
	padding-bottom: 33px;
	transition: all 0.3s;
}
.post_mod-a:nth-child(odd) .entry-main {
	margin-right: 470px;
}
.post_mod-a:nth-child(even) .entry-main {
	margin-left: 470px;
	padding-left: 74px;
}
.post_mod-a:nth-child(even) .entry-date {
	left: -25px;
}
.post_mod-a:nth-child(odd) .entry-date {
	right: -25px;
}
.post_mod-a:nth-child(odd) .entry-main__inner,
.post_mod-a:nth-child(odd) .entry-content {
	padding-right: 70px;
}


.post_mod-a:nth-child(even) .entry-main__inner:after {
	right: -20px;
	left: auto;;
}

.post_mod-b {
	margin-bottom: 0;
}
.post_mod-b .entry-date {
	top: -25px;
	right: 72px;
}
.post_mod-b .entry-content {
	padding-top: 0;
}


.post_mod-c {
	display: inline-block;
	width: 355px;
	margin-right: 15px;
	margin-bottom: 50px;
	margin-left: 15px;
	vertical-align: top;
	text-align: left;
}


.post_mod-c .entry-main {
	padding-top: 58px;
	padding-bottom: 35px;
}
.post_mod-c .entry-title {
	font-size: 14px;
}
.post_mod-c .post-hover {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0);
	transition: all 0.3s;
}
.post_mod-c:hover .post-hover {
	background-color: rgba(0, 0, 0, 0.5);
}
.post_mod-c .entry-title {
	margin-bottom: 5px;
}


.post_mod-c .entry-date {
	position: absolute;
	top: -24px;
	right: 50px;
}
.post_mod-c .entry-date__inner {
	margin-top: 3px;
	margin-left: 0;
	text-align: center;
}


.post_mod-d {
	margin-bottom: 50px;
}

.about-autor {
	position: relative;
	padding: 34px 84px 34px 34px;
	color: #fff;
}
.about-autor__img {
	float: left;
}
.about-autor__inner {
	margin-left: 147px;
}
.about-autor__name {
	margin-top: 5px;
	margin-bottom: 5px;
	font-family: Raleway;
	font-size: 13px;
	font-weight: 700;
	color: #fefefe;
	text-transform: uppercase;
}
.about-autor__categorie {
	margin-bottom: 18px;
	font-size: 11px;
	font-weight: 500;
	color: rgba(255, 255, 255, 0.6);
	text-transform: uppercase;
}
.about-autor__description {
	font-size: 13px;
	font-weight: 300;
	line-height: 20px;
}
.about-autor__social {
	position: absolute;
	top: 0;
	right: 0;
}
.about-autor__social a {
	display: block;
	padding: 17px 28px;
	color: #fff;
	border-bottom: 1px solid #fff;
	border-left: 1px solid #fff;
	transition: all 0.3s;
}
.about-autor__social a:hover {
	color: #ccc;
	text-decoration: none;
}
/*.about-autor__social li:last-child a {
	border-bottom: none;
}*/
.about-autor .decor-1,
.about-autor .decor-1:after {
	border-top-color: rgba(204, 204, 204, 0.7);
}

.post-nav {
	margin-top: 45px;
	background: url('../img/bg/texture-1.gif');
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}
.post-nav__item {
	display: inline-block;
	width: 50%;
	margin-right: -2px;
	margin-left: -1px;
	padding: 50px 25px 50px;
	vertical-align: top;
}
.post-nav__img {
	width: 75px;
	height: 75px;
}

.post-nav__title {
	font-family: Raleway;
	font-size: 15px;
	font-weight: 700;
	line-height: 18px;
	color: #222;
	text-transform: uppercase;
}
.post-nav__link {
	display: block;
	margin-top: 22px;
	font-family: Raleway;
	font-size: 12px;
	font-weight: 700;
	color: #555;
	text-transform: uppercase;
}
.post-nav__item:nth-child(odd) {
	text-align: right;
}

.post-nav__item:nth-child(odd) .post-nav__inner {
	margin-right: 95px;
}
.post-nav__item:nth-child(even) .post-nav__inner {
	margin-left: 95px;
}
.post-nav__item:nth-child(odd) .post-nav__img {
	float: right;
}
.post-nav__item:nth-child(even) .post-nav__img {
	float: left;
}
.post-nav .decor-3 {
	margin-top: -2px;
	margin-left: 14px;
	text-align: left;
}


/*03  Comments */

.section-comment {
	margin-top: 46px;
	padding: 26px 40px 0 50px;
	background-color: #fff;
}

.section-comment .ui-title-inner {
	margin-bottom: 16px;
	font-size: 15px;
}

.section-comment .border-color {
	border-width: 3px;
}

.section-comment .border-color:after {
	width: 0;
}

.comments-list {
	margin-top: 39px;
	padding-left: 0;
	list-style-type: none;;
}

.comments-list .children {
	margin-left: 70px;
	list-style-type: none;
}

.comments-list .comment {
	position: relative;
	margin-bottom: 45px;
}

.comments-list .comment-inner {
	margin-left: 90px;
	padding-bottom: 10px;
	border-bottom: 1px solid #eee;
}
.comments-list .comment-inner {
	margin-left: 90px;
	border-bottom: 1px solid #eee;
}

.comments-list .avatar-placeholder {
	float: left;
	width: 65px;
	height: 65px;
	border-radius: 50%;
	overflow: hidden;
}

.comments-list .comment-header {
	margin-bottom: 15px;
	overflow: hidden;
	text-transform: uppercase;
}

.comments-list .comment-author {
	display: block;
	margin-top: 6px;
	margin-bottom: 4px;
	font: 700 12px Raleway;
	color: #222;
}

.comments-list .comment-author__inner {
	font-size: 13px;
	color: #999;
	text-transform: none;
}

.comments-list .comment-datetime {
	display: block;
	font-family: Ubuntu;
	font-size: 11px;
	font-weight: 500;
}

.comments-list .comment-reply {
	position: absolute;
	top: 0;
	right: 0;
}

.comments-list .comment-reply .btn {
	background-color: #f8f8f8;
	padding: 10px 20px;
}

.comment-reply-form {
	margin-top: 44px;
	padding: 27px 45px 48px;
	background-color: #fff;
}

.comment-reply-form .ui-title-inner {
	margin-top: 20px;
	margin-bottom: 16px;
	font-size: 15px;
}

.comment-reply-form .input-group {
	margin-bottom: 20px;
}

.comment-reply-form .form-control {
	margin-bottom: 22px;
	background-color: #f5f5f5;
}
.comment-reply-form .form-control:focus {
	background-color: #fff;
}
.comment-reply-form .decor-1 {
	margin-bottom: 40px;
}
.comment-reply-form .wrap__btn-skew-r {
	margin-top: 5px;
}
