
/*CAROUSEL*/

.homepage-slides{
    position: relative;
    width: 100%;
}

.carousel {
    position: relative;
}

.carousel-inner {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.carousel-inner > .item {
    display: none;
    position: relative;
    -webkit-transition: 0.6s ease-in-out left;
    transition: 0.6s ease-in-out left;
}

.carousel-inner > .active {
    left: 0;
    display:block;
}

.carousel-caption {
    position: relative;
    bottom: 20px;
    z-index: 10;
    /*color: #ffffff;*/
    text-align: center;
    /*text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);*/
}

#slide-pause-btn {
    position: absolute;
    right: 1%;
    text-shadow: 0px 1px 2px black;
    cursor: pointer;
    cursor: hand;
    color: white;
    bottom: 1%;
    z-index: 10;
    padding-bottom: 10px;
    text-align: center;
}


.carousel-inner img {
    width: 100%;
    max-height: 500px;
}