.sp-image{
    background: #fff;
    box-shadow:
		0px 0px 0px 10px rgba(255,255,255,1),
		1px 1px 3px 10px rgba(0,0,0,0.2);
	transition:
		opacity 0.4s linear,
		transform 0.4s ease-in-out,
		box-shadow 0.4s ease-in-out;
    -webkit-backface-visibility: hidden;
	 -moz-backface-visibility: hidden;
	 -ms-backface-visibility: hidden;
	 backface-visibility: hidden;

}

.car-listing-item img{
     -webkit-clip-path: inset(8% 0% 8% 0%);
	-moz-clip-path: inset(8% 0% 8% 0%);
	-ms-clip-path: inset(8% 0% 8% 0%);
    clip-path: inset(8% 0% 8% 0%);

}

.flex-active-slide img{
	  -webkit-clip-path: inset(8% 0% 8% 0%);
	-moz-clip-path: inset(8% 0% 8% 0%);
	-ms-clip-path: inset(8% 0% 8% 0%);
    clip-path: inset(8% 0% 8% 0%);

}

.car-listing-item h2{
	font-size: 21px;
}

.cars-list-details div{
	margin:6px 2px;
	font-size: 16px;
}
.car-listing-item .row{
	padding-bottom: 25px;
	border-bottom: 1px solid #d3d3d3;
}


.car-listing-item section{
	position: relative;
    top: 13px;
    float: right;
	padding-bottom:17px;
}

.car-listing-item p{
	margin:0px;
}

.car-listing-item span{
	margin:0px;
}

#section-recent-cars h2{
	position:relative;
	float: left;
}
#section-recent-cars a{
	position: relative;
    float: left;
    margin-left: 10px;
    font-family: Raleway;
    font-size: 30px;
    bottom: 5px;
	font-weight: 700;
}

.selected{
	color: #dc2d13;
}


