{% extends "projectname/ui/layouts/base.html" %}
{% load cms_tags common_tags endless %}
{% block body_class %}home{% endblock %}

{% block content %}
	{% include "projectname/ui/fragments/header.html" %}

	<div class="content-strip">
		<div class="container">

			<div class="row">
				<div class="col-xs-9 text-left">

					<a href="{% page_url 'news' %}" class="pull-right btn btn-default">Back to news</a>

					<h3 class="no-margin-bottom">{{ object.title }}</h3>
					<div class="h3-margin-bottom"><small class="text-muted">{{ object.created|date}}</small></div><br/>

					{{ object.body|linebreaks }}


				</div>
				<div class="col-xs-3 text-right">
					<img src="{{ STATIC_URL }}img/img-android-top.png" class="img-responsive">
				</div>
			</div>

		</div>
	</div>

	{% include "projectname/ui/fragments/footer.html" %}
{% endblock %}
