{% extends "account/base.html" %}

{% load common_tags %}
{% load url from future %}
{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
    <div class="col-md-5 col-md-offset-3 centered-offset-content">
        <h1>{% trans "Change Password" %}</h1>
        <p>{% trans 'Your password is now changed.' %}</p>
    </div>
{% endblock %}
