{% extends "account/base.html" %}

{% load common_tags %}
{% load url from future %}
{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
	<div class="col-md-5 col-md-offset-3 centered-offset-content">
        <h1>{% trans "Change Password" %}</h1>

        <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
            {% csrf_token %}
	        {%  with hide_labels=1 use_label_as_placeholder=1 %}
                {% render_form form %}
	        {% endwith %}
            <button class="btn btn-primary" type="submit" name="action">{% trans "Change Password" %}</button>
        </form>
	</div>
{% endblock %}
